garmin-badges-n8n-workflow.json
{
  "name": "Garmin Badges Sync (Hybrid Auth)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "notes": "Runs daily at 2:00 AM"
    },
    {
      "parameters": {
        "command": "python3 garmin_auth_helper.py",
        "cwd": "/Users/dhlotter/Downloads/sourcecontrol/prd/script-garmin-badges-sync"
      },
      "id": "garmin-auth",
      "name": "Get Garmin Auth Token",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "notes": "Executes Python script to get OAuth2 token using garth library"
    },
    {
      "parameters": {
        "jsCode": "// Parse the authentication response and extract token\nconst authResponse = JSON.parse($input.first().json.stdout);\n\nif (!authResponse.success) {\n  throw new Error(`Authentication failed: ${authResponse.error}`);\n}\n\nreturn {\n  json: {\n    token: authResponse.token,\n    message: authResponse.message\n  }\n};"
      },
      "id": "parse-auth-token",
      "name": "Parse Auth Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "notes": "Extracts OAuth2 token from Python script output"
    },
    {
      "parameters": {
        "url": "https://connect.garmin.com/badge-service/badge/earned",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Parse Auth Token').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-earned-badges",
      "name": "Fetch Earned Badges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transform earned badges data for GarminBadges.com\nconst earnedBadges = $input.all();\nconst updateKey = $('Get Update Key').first().json.update_key;\n\nconst transformedBadges = earnedBadges.map(badge => ({\n  badgeId: badge.json.badgeId,\n  badgeName: badge.json.badgeName,\n  count: badge.json.badgeEarnedNumber,\n  earned_date: badge.json.badgeEarnedDate,\n  badgeProgressValue: badge.json.badgeProgressValue,\n  badgeTargetValue: badge.json.badgeTargetValue,\n  badgeUnit: getBadgeUnit(badge.json.badgeUnitId),\n  userJoined: badge.json.userJoined || false,\n  joinDateLocal: badge.json.joinDateLocal || null,\n  createdBy: 'n8n workflow v1.1.0 (hybrid auth)'\n}));\n\nfunction getBadgeUnit(unitId) {\n  const unitMap = {\n    1: 'mi_km',\n    2: 'ft_m',\n    3: 'activities',\n    4: 'days',\n    5: 'steps',\n    6: 'mi',\n    7: 'seconds'\n  };\n  return unitMap[unitId] || '';\n}\n\nreturn [{\n  json: {\n    update_key: updateKey,\n    badges: transformedBadges\n  }\n}];"
      },
      "id": "transform-earned-badges",
      "name": "Transform Earned Badges",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://garminbadges.com/api/index.php/user/earned",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "post-earned-badges",
      "name": "Post Earned Badges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "split-badges",
      "name": "Split Badges for Detail Fetch",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://connect.garmin.com/badge-service/badge/detail/v2/{{ $json.badgeNo }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Parse Auth Token').item.json.token }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "fetch-badge-details",
      "name": "Fetch Badge Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1650,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://connect.garmin.com/badgechallenge-service/badgeChallenge/{{ $json.badgeUuid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Parse Auth Token').item.json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-challenge-details",
      "name": "Fetch Challenge Details (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1850,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge badge details with challenge details\nconst badgeDetail = $input.first().json;\nconst challengeDetail = $input.last().json;\n\nif (challengeDetail && challengeDetail.joinDateLocal) {\n  badgeDetail.joinDateLocal = challengeDetail.joinDateLocal;\n}\n\nreturn { json: badgeDetail };"
      },
      "id": "merge-badge-data",
      "name": "Merge Badge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "split-complete",
              "leftValue": "={{ $('Split Badges for Detail Fetch').item.json.done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-split-complete",
      "name": "Check if All Badges Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transform all badge details for final submission\nconst allBadges = $input.all();\nconst updateKey = $('Get Update Key').first().json.update_key;\n\nconst unitMap = {\n  1: 'mi_km',\n  2: 'ft_m',\n  3: 'activities',\n  4: 'days',\n  5: 'steps',\n  6: 'mi',\n  7: 'seconds'\n};\n\nconst transformedBadges = allBadges.map(item => {\n  const badge = item.json;\n  return {\n    badgeId: badge.badgeId,\n    badgeName: badge.badgeName,\n    count: badge.badgeEarnedNumber,\n    earned_date: badge.badgeEarnedDate,\n    badgeProgressValue: badge.badgeProgressValue,\n    badgeTargetValue: badge.badgeTargetValue,\n    badgeUnit: unitMap[badge.badgeUnitId] || '',\n    userJoined: badge.userJoined || false,\n    joinDateLocal: badge.joinDateLocal || null,\n    createdBy: 'n8n workflow v1.1.0 (hybrid auth)'\n  };\n});\n\nreturn [{\n  json: {\n    update_key: updateKey,\n    badges: transformedBadges\n  }\n}];"
      },
      "id": "transform-final-badges",
      "name": "Transform Final Badge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2450,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://garminbadges.com/api/index.php/user/challenges",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "post-final-badges",
      "name": "Post Final Badge Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2650,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://garminbadges.com/api/index.php/user/updatekey",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"{{ $credentials.garminBadges.username }}\",\n  \"email\": \"{{ $credentials.garminBadges.email }}\"\n}",
        "options": {}
      },
      "id": "get-update-key",
      "name": "Get Update Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        500
      ],
      "notes": "Fetch user ID and update key from GarminBadges.com"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Garmin Auth Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Update Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Garmin Auth Token": {
      "main": [
        [
          {
            "node": "Parse Auth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Auth Token": {
      "main": [
        [
          {
            "node": "Fetch Earned Badges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Earned Badges": {
      "main": [
        [
          {
            "node": "Transform Earned Badges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Earned Badges": {
      "main": [
        [
          {
            "node": "Post Earned Badges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Earned Badges": {
      "main": [
        [
          {
            "node": "Split Badges for Detail Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Badges for Detail Fetch": {
      "main": [
        [
          {
            "node": "Fetch Badge Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Badge Details": {
      "main": [
        [
          {
            "node": "Fetch Challenge Details (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Challenge Details (Optional)": {
      "main": [
        [
          {
            "node": "Merge Badge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Badge Data": {
      "main": [
        [
          {
            "node": "Check if All Badges Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if All Badges Processed": {
      "main": [
        [
          {
            "node": "Transform Final Badge Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Badges for Detail Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Final Badge Data": {
      "main": [
        [
          {
            "node": "Post Final Badge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.1",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "id": "garmin-badges-sync-hybrid",
  "tags": []
}